<div class="container">

  <div *ngIf="loading">
    <p>Loading tickets...</p>
  </div>

  <div *ngIf="!loading && userType !== 'AGENT'">
    <p>You are not authorized to view this list.</p>
  </div>

  <div *ngIf="!loading && userType === 'AGENT'">

    <!-- Check if there are tickets to display -->
    <div *ngIf="tickets.length > 0">
      <h2>Tickets</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Creation Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>User ID</th>
            <th>Comments</th>
            <th>History Log</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets" (click)="viewTicketDetails(ticket.id)" class="clickable-row">
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.creationDate }}</td>
            <td>{{ ticket.priority }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.userId }}</td>
            <td>
              <!-- Assuming comments is an array of strings -->
              <ul>
                <li *ngFor="let comment of ticket.comments">{{ comment }}</li>
              </ul>
            </td>
            <td>
              <!-- Assuming historyLog is an array of strings -->
              <!-- <ul>
                <li *ngFor="let log of ticket.historyLog">{{ log }}</li>
              </ul> -->
            </td>
            <td>
              <button (click)="navigateToEdit(ticket.id)">Edit</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="tickets.length === 0">
      <p>No tickets found.</p>
    </div>
  </div>
</div>