<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img [src]="getLogoPath()" class="navbar-logo" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item"  *ngIf="isCustomer()">
          <a class="nav-link" [routerLink]="'/ticket-create'">Create Ticket</a>
        </li>
        <li class="nav-item" *ngIf="isAgent()">
          <a class="nav-link" [routerLink]="'/ticket-list'">All tickets</a>
        </li>
        <li class="nav-item" *ngIf="currentUserType">
          <a class="nav-link" [routerLink]="'/ticket-user'">Tickets</a>
      </li>
      
        <li class="nav-item" *ngIf="isAgent()">
          <a class="nav-link" [routerLink]="'/ticket-edit'">Edit Tickets</a>
        </li>
        <li class="nav-item" *ngIf="isAgent()">
          <a class="nav-link" [routerLink]="'/ticket-delete'">Delete Tickets</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" [routerLink]="'/log-in'">Log in</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" [routerLink]="'/register'">Register</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <button (click)="onLogout()">Log Out</button>
        </li>
      </ul>
    </div>

     
  </div>

</nav>