<div class="background-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 p-0">
          <div class="container h-100">
            <div class="row h-100 text-center">
              <div class="col-12 col-lg-6 text-white">
                <h1 class="text-dark display-2">Ticketing System</h1>
                <h1>to solve your problems</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 p-0">
          <img [src]="getImgPath()" alt="image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
  
  